/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #4253a9; /* blue*/
}

.ng-touched.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}



*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
}